<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>navigation_bar</key>
	<dict>
		<key>base</key>
		<dict/>
		<key>type</key>
		<dict>
			<key>default</key>
			<dict>
				<key>backgroundColor</key>
				<string>@variables/navbar_default</string>
			</dict>
		</dict>
	</dict>
	<key>bg_general</key>
	<dict>
		<key>backgroundColor</key>
		<string>@variables/bg_default</string>
	</dict>
	<key>bg_secondary</key>
	<dict>
		<key>backgroundColor</key>
		<string>@colors/base_color_white_0</string>
	</dict>
	<key>text</key>
	<dict>
		<key>base</key>
		<dict/>
		<key>type</key>
		<dict>
			<key>default</key>
			<dict>
				<key>fontColor</key>
				<string>@colors/base_color_grey_300</string>
			</dict>
			<key>info</key>
			<dict>
				<key>fontColor</key>
				<string>@colors/base_color_blue_green_200</string>
			</dict>
			<key>info_dark</key>
			<dict>
				<key>fontColor</key>
				<string>@colors/base_color_blue_green_400</string>
			</dict>
			<key>disabled</key>
			<dict>
				<key>fontColor</key>
				<string>@colors/base_color_white_500</string>
			</dict>
			<key>inverse</key>
			<dict>
				<key>fontColor</key>
				<string>@colors/base_color_white_0</string>
			</dict>
			<key>primary</key>
			<dict>
				<key>fontColor</key>
				<string>@colors/base_color_black_300</string>
			</dict>
			<key>secondary</key>
			<dict>
				<key>fontColor</key>
				<string>@colors/base_color_grey_100</string>
			</dict>
			<key>active</key>
			<dict>
				<key>fontColor</key>
				<string>@colors/base_color_orange_100</string>
			</dict>
			<key>success</key>
			<dict>
				<key>fontColor</key>
				<string>@colors/base_color_green_300</string>
			</dict>
			<key>danger</key>
			<dict>
				<key>fontColor</key>
				<string>@colors/base_color_red_300</string>
			</dict>
			<key>points</key>
			<dict>
				<key>fontColor</key>
				<string>@colors/base_color_blue_300</string>
			</dict>
			<key>qis</key>
			<dict>
				<key>fontColor</key>
				<string>@colors/base_color_orange_100</string>
			</dict>
			<key>neuros</key>
			<dict>
				<key>fontColor</key>
				<string>@colors/base_color_red_300</string>
			</dict>
			<key>timer_points</key>
			<dict>
				<key>fontColor</key>
				<string>@colors/base_color_orange_500</string>
			</dict>
			<key>subtitle</key>
			<dict>
				<key>fontColor</key>
				<string>@colors/base_color_orange_100</string>
			</dict>
			<key>level</key>
			<dict>
				<key>fontColor</key>
				<string>@colors/base_color_yellow_300</string>
			</dict>
			<key>level_gold</key>
			<dict>
				<key>fontColor</key>
				<string>@colors/base_color_orange_400</string>
			</dict>
			<key>level_silver</key>
			<dict>
				<key>fontColor</key>
				<string>@colors/base_color_grey_100</string>
			</dict>
			<key>level_bronze</key>
			<dict>
				<key>fontColor</key>
				<string>@colors/base_color_orange_500</string>
			</dict>
			<key>headline</key>
			<dict>
				<key>fontColor</key>
				<string>@colors/base_color_white_0</string>
			</dict>
			<key>header_label</key>
			<dict>
				<key>fontColor</key>
				<string>@colors/base_color_white_0</string>
			</dict>
			<key>header_subtitle</key>
			<dict>
				<key>fontColor</key>
				<string>@colors/base_color_white_0</string>
			</dict>
			<key>answer_active</key>
			<dict>
				<key>fontColor</key>
				<string>@colors/base_color_white_0</string>
			</dict>
			<key>answer_circle_active</key>
			<dict>
				<key>fontColor</key>
				<string>@colors/base_color_white_0</string>
			</dict>
			<key>answer_correct</key>
			<dict>
				<key>fontColor</key>
				<string>@colors/base_color_white_0</string>
			</dict>
			<key>answer_circle_correct</key>
			<dict>
				<key>fontColor</key>
				<string>@colors/base_color_green_300</string>
			</dict>
			<key>answer_incorrect</key>
			<dict>
				<key>fontColor</key>
				<string>@colors/base_color_white_0</string>
			</dict>
			<key>answer_circle_incorrect</key>
			<dict>
				<key>fontColor</key>
				<string>@colors/base_color_red_300</string>
			</dict>
			<key>answer_disabled</key>
			<dict>
				<key>fontColor</key>
				<string>@colors/base_color_white_500</string>
			</dict>
			<key>answer_circle_disabled</key>
			<dict>
				<key>fontColor</key>
				<string>@colors/base_color_white_0</string>
			</dict>
			<key>answer_normal</key>
			<dict>
				<key>fontColor</key>
				<string>@colors/base_color_grey_300</string>
			</dict>
			<key>answer_circle_normal</key>
			<dict>
				<key>fontColor</key>
				<string>@colors/base_color_white_0</string>
			</dict>
			<key>answer_percent_active</key>
			<dict>
				<key>fontColor</key>
				<string>@colors/base_color_white_0</string>
			</dict>
			<key>answer_percent_correct</key>
			<dict>
				<key>fontColor</key>
				<string>@colors/base_color_white_0</string>
			</dict>
			<key>answer_percent_disabled</key>
			<dict>
				<key>fontColor</key>
				<string>@colors/base_color_white_500</string>
			</dict>
			<key>answer_percent_incorrect</key>
			<dict>
				<key>fontColor</key>
				<string>@colors/base_color_white_0</string>
			</dict>
			<key>answer_percent_normal</key>
			<dict>
				<key>fontColor</key>
				<string>@colors/base_color_orange_100</string>
			</dict>
		</dict>
		<key>font_family</key>
		<dict>
			<key>light</key>
			<dict>
				<key>fontFamily</key>
				<string>@fonts/fontFamilyLight</string>
			</dict>
			<key>regular</key>
			<dict>
				<key>fontFamily</key>
				<string>@fonts/fontFamilyRegular</string>
			</dict>
			<key>bold</key>
			<dict>
				<key>fontFamily</key>
				<string>@fonts/fontFamilyBold</string>
			</dict>
			<key>black</key>
			<dict>
				<key>fontFamily</key>
				<string>@fonts/fontFamilyBlack</string>
			</dict>
		</dict>
		<key>font_size</key>
		<dict>
			<key>extra_extra_small</key>
			<dict>
				<key>fontSize</key>
				<string>@fonts/fontSizeExtraExtraSmall</string>
			</dict>
			<key>extra_small</key>
			<dict>
				<key>fontSize</key>
				<string>@fonts/fontSizeExtraSmall</string>
			</dict>
			<key>small</key>
			<dict>
				<key>fontSize</key>
				<string>@fonts/fontSizeSmall</string>
			</dict>
			<key>medium</key>
			<dict>
				<key>fontSize</key>
				<string>@fonts/fontSizeMedium</string>
			</dict>
			<key>large</key>
			<dict>
				<key>fontSize</key>
				<string>@fonts/fontSizeLarge</string>
			</dict>
			<key>extra_large</key>
			<dict>
				<key>fontSize</key>
				<string>@fonts/fontSizeExtraLarge</string>
			</dict>
			<key>extra_extra_large</key>
			<dict>
				<key>fontSize</key>
				<string>@fonts/fontSizeExtraExtraLarge</string>
			</dict>
		</dict>
	</dict>
	<key>button</key>
	<dict>
		<key>fill</key>
		<dict>
			<key>long</key>
			<dict>
				<key>base</key>
				<dict>
					<key>fontFamily</key>
					<string>@fonts/fontFamilyBold</string>
					<key>fontSize</key>
					<string>@fonts/fontSizeLarge</string>
					<key>backgroundImagePath</key>
					<string>btn_shape</string>
				</dict>
				<key>type</key>
				<dict>
					<key>default</key>
					<dict>
						<key>textColor</key>
						<string>@colors/base_color_grey_300</string>
						<key>textColorHighlighted</key>
						<string>@colors/base_color_grey_300</string>
						<key>textColorHighlightedSelected</key>
						<string>@colors/base_color_grey_300</string>
						<key>textColorSelected</key>
						<string>@colors/base_color_grey_300</string>
						<key>imageTintColorNormal</key>
						<string>@colors/base_color_grey_300</string>
						<key>imageTintColorHighlighted</key>
						<string>@colors/base_color_grey_300</string>
						<key>imageTintColorSelected</key>
						<string>@colors/base_color_grey_300</string>
						<key>imageTintColorHighlightedSelected</key>
						<string>@colors/base_color_grey_300</string>
						<key>backgroundImageTintColorNormal</key>
						<string>@variables/btn_default</string>
						<key>backgroundImageTintColorHighlighted</key>
						<string>@variables/btn_default&gt;85</string>
						<key>backgroundImageTintColorSelected</key>
						<string>@variables/btn_default&gt;85</string>
						<key>backgroundImageTintColorHighlightedSelected</key>
						<string>@variables/btn_default&gt;85</string>
					</dict>
					<key>primary</key>
					<dict>
						<key>textColor</key>
						<string>@colors/base_color_white_0</string>
						<key>textColorHighlighted</key>
						<string>@colors/base_color_white_0</string>
						<key>textColorHighlightedSelected</key>
						<string>@colors/base_color_white_0</string>
						<key>textColorSelected</key>
						<string>@colors/base_color_white_0</string>
						<key>imageTintColorNormal</key>
						<string>@colors/base_color_white_0</string>
						<key>imageTintColorHighlighted</key>
						<string>@colors/base_color_white_0</string>
						<key>imageTintColorSelected</key>
						<string>@colors/base_color_white_0</string>
						<key>imageTintColorHighlightedSelected</key>
						<string>@colors/base_color_white_0</string>
						<key>backgroundImageTintColorNormal</key>
						<string>@variables/btn_primary</string>
						<key>backgroundImageTintColorHighlighted</key>
						<string>@variables/btn_primary&gt;85</string>
						<key>backgroundImageTintColorSelected</key>
						<string>@variables/btn_primary&gt;85</string>
						<key>backgroundImageTintColorHighlightedSelected</key>
						<string>@variables/btn_primary&gt;85</string>
					</dict>
					<key>secondary</key>
					<dict>
						<key>textColor</key>
						<string>@colors/base_color_white_0</string>
						<key>textColorHighlighted</key>
						<string>@colors/base_color_white_0</string>
						<key>textColorHighlightedSelected</key>
						<string>@colors/base_color_white_0</string>
						<key>textColorSelected</key>
						<string>@colors/base_color_white_0</string>
						<key>imageTintColorNormal</key>
						<string>@colors/base_color_white_0</string>
						<key>imageTintColorHighlighted</key>
						<string>@colors/base_color_white_0</string>
						<key>imageTintColorSelected</key>
						<string>@colors/base_color_white_0</string>
						<key>imageTintColorHighlightedSelected</key>
						<string>@colors/base_color_white_0</string>
						<key>backgroundImageTintColorNormal</key>
						<string>@variables/btn_secondary</string>
						<key>backgroundImageTintColorHighlighted</key>
						<string>@variables/btn_secondary&gt;85</string>
						<key>backgroundImageTintColorSelected</key>
						<string>@variables/btn_secondary&gt;85</string>
						<key>backgroundImageTintColorHighlightedSelected</key>
						<string>@variables/btn_secondary&gt;85</string>
					</dict>
					<key>success</key>
					<dict>
						<key>textColor</key>
						<string>@colors/base_color_white_0</string>
						<key>textColorHighlighted</key>
						<string>@colors/base_color_white_0</string>
						<key>textColorHighlightedSelected</key>
						<string>@colors/base_color_white_0</string>
						<key>textColorSelected</key>
						<string>@colors/base_color_white_0</string>
						<key>imageTintColorNormal</key>
						<string>@colors/base_color_white_0</string>
						<key>imageTintColorHighlighted</key>
						<string>@colors/base_color_white_0</string>
						<key>imageTintColorSelected</key>
						<string>@colors/base_color_white_0</string>
						<key>imageTintColorHighlightedSelected</key>
						<string>@colors/base_color_white_0</string>
						<key>backgroundImageTintColorNormal</key>
						<string>@variables/bg_success</string>
						<key>backgroundImageTintColorHighlighted</key>
						<string>@variables/bg_success&gt;85</string>
						<key>backgroundImageTintColorSelected</key>
						<string>@variables/bg_success&gt;85</string>
						<key>backgroundImageTintColorHighlightedSelected</key>
						<string>@variables/bg_success&gt;85</string>
					</dict>
					<key>danger</key>
					<dict>
						<key>textColor</key>
						<string>@colors/base_color_white_0</string>
						<key>textColorHighlighted</key>
						<string>@colors/base_color_white_0</string>
						<key>textColorHighlightedSelected</key>
						<string>@colors/base_color_white_0</string>
						<key>textColorSelected</key>
						<string>@colors/base_color_white_0</string>
						<key>imageTintColorNormal</key>
						<string>@colors/base_color_white_0</string>
						<key>imageTintColorHighlighted</key>
						<string>@colors/base_color_white_0</string>
						<key>imageTintColorSelected</key>
						<string>@colors/base_color_white_0</string>
						<key>imageTintColorHighlightedSelected</key>
						<string>@colors/base_color_white_0</string>
						<key>backgroundImageTintColorNormal</key>
						<string>@variables/bg_danger</string>
						<key>backgroundImageTintColorHighlighted</key>
						<string>@variables/bg_danger&gt;85</string>
						<key>backgroundImageTintColorSelected</key>
						<string>@variables/bg_danger&gt;85</string>
						<key>backgroundImageTintColorHighlightedSelected</key>
						<string>@variables/bg_danger&gt;85</string>
					</dict>
					<key>disabled</key>
					<dict>
						<key>textColor</key>
						<string>@colors/base_color_white_500</string>
						<key>textColorHighlighted</key>
						<string>@colors/base_color_white_500</string>
						<key>textColorHighlightedSelected</key>
						<string>@colors/base_color_white_500</string>
						<key>textColorSelected</key>
						<string>@colors/base_color_white_500</string>
						<key>imageTintColorNormal</key>
						<string>@colors/base_color_white_500</string>
						<key>imageTintColorHighlighted</key>
						<string>@colors/base_color_white_500</string>
						<key>imageTintColorSelected</key>
						<string>@colors/base_color_white_500</string>
						<key>imageTintColorHighlightedSelected</key>
						<string>@colors/base_color_white_500</string>
						<key>backgroundImageTintColorNormal</key>
						<string>@variables/bg_disabled</string>
						<key>backgroundImageTintColorHighlighted</key>
						<string>@variables/bg_disabled</string>
						<key>backgroundImageTintColorSelected</key>
						<string>@variables/bg_disabled</string>
						<key>backgroundImageTintColorHighlightedSelected</key>
						<string>@variables/bg_disabled</string>
					</dict>
				</dict>
				<key>slicing</key>
				<dict>
					<key>resizableBackgroundImageWithInsetsHighlightedSelected</key>
					<integer>21</integer>
					<key>resizableBackgroundImageWithInsetsNormal</key>
					<integer>21</integer>
					<key>resizableBackgroundImageWithInsetsHighlighted</key>
					<integer>21</integer>
					<key>resizableBackgroundImageWithInsetsSelected</key>
					<integer>21</integer>
					<key>resizableBackgroundImageWithInsetsDisabled</key>
					<integer>21</integer>
				</dict>
			</dict>
			<key>circle</key>
			<dict>
				<key>base</key>
				<dict>
					<key>fontFamily</key>
					<string>@fonts/fontFamilyBold</string>
					<key>fontSize</key>
					<string>@fonts/fontSizeLarge</string>
					<key>backgroundImagePath</key>
					<string>btn_circle_fill_40</string>
					<key>backgroundImagePathHighlighted</key>
					<string>btn_circle_fill_40</string>
					<key>backgroundImagePathSelected</key>
					<string>btn_circle_fill_40</string>
					<key>backgroundImagePathHighlightedSelected</key>
					<string>btn_circle_fill_40</string>
				</dict>
				<key>type</key>
				<dict>
					<key>active</key>
					<dict>
						<key>textColor</key>
						<string>@colors/base_color_white_0</string>
						<key>textColorHighlighted</key>
						<string>@colors/base_color_white_0</string>
						<key>textColorHighlightedSelected</key>
						<string>@colors/base_color_white_0</string>
						<key>textColorSelected</key>
						<string>@colors/base_color_white_0</string>
						<key>imageTintColorNormal</key>
						<string>@colors/base_color_white_0</string>
						<key>imageTintColorHighlighted</key>
						<string>@colors/base_color_white_0</string>
						<key>imageTintColorSelected</key>
						<string>@colors/base_color_white_0</string>
						<key>imageTintColorHighlightedSelected</key>
						<string>@colors/base_color_white_0</string>
						<key>backgroundImageTintColorNormal</key>
						<string>@variables/btn_outline_active</string>
						<key>backgroundImageTintColorHighlighted</key>
						<string>@variables/btn_outline_active&gt;85</string>
						<key>backgroundImageTintColorSelected</key>
						<string>@variables/btn_outline_active&gt;85</string>
						<key>backgroundImageTintColorHighlightedSelected</key>
						<string>@variables/btn_outline_active&gt;85</string>
					</dict>
					<key>disabled</key>
					<dict>
						<key>textColor</key>
						<string>@colors/base_color_white_500</string>
						<key>textColorHighlighted</key>
						<string>@colors/base_color_white_500</string>
						<key>textColorHighlightedSelected</key>
						<string>@colors/base_color_white_500</string>
						<key>textColorSelected</key>
						<string>@colors/base_color_white_500</string>
						<key>imageTintColorNormal</key>
						<string>@colors/base_color_white_500</string>
						<key>imageTintColorHighlighted</key>
						<string>@colors/base_color_white_500</string>
						<key>imageTintColorSelected</key>
						<string>@colors/base_color_white_500</string>
						<key>imageTintColorHighlightedSelected</key>
						<string>@colors/base_color_white_500</string>
						<key>backgroundImageTintColorNormal</key>
						<string>@variables/btn_outline_disabled</string>
						<key>backgroundImageTintColorHighlighted</key>
						<string>@variables/btn_outline_disabled</string>
						<key>backgroundImageTintColorSelected</key>
						<string>@variables/btn_outline_disabled</string>
						<key>backgroundImageTintColorHighlightedSelected</key>
						<string>@variables/btn_outline_disabled</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>outline</key>
		<dict>
			<key>long</key>
			<dict>
				<key>base</key>
				<dict>
					<key>fontFamily</key>
					<string>@fonts/fontFamilyBold</string>
					<key>fontSize</key>
					<string>@fonts/fontSizeLarge</string>
					<key>backgroundImagePath</key>
					<string>btn_shape_outline</string>
					<key>backgroundImagePathHighlighted</key>
					<string>btn_shape</string>
					<key>backgroundImagePathSelected</key>
					<string>btn_shape</string>
					<key>backgroundImagePathHighlightedSelected</key>
					<string>btn_shape</string>
				</dict>
				<key>type</key>
				<dict>
					<key>active</key>
					<dict>
						<key>textColor</key>
						<string>@variables/btn_outline_active</string>
						<key>textColorHighlighted</key>
						<string>@colors/base_color_white_0</string>
						<key>textColorHighlightedSelected</key>
						<string>@colors/base_color_white_0</string>
						<key>textColorSelected</key>
						<string>@colors/base_color_white_0</string>
						<key>imageTintColorNormal</key>
						<string>@variables/btn_outline_active</string>
						<key>imageTintColorHighlighted</key>
						<string>@colors/base_color_white_0</string>
						<key>imageTintColorSelected</key>
						<string>@colors/base_color_white_0</string>
						<key>imageTintColorHighlightedSelected</key>
						<string>@colors/base_color_white_0</string>
						<key>backgroundImageTintColorNormal</key>
						<string>@variables/btn_outline_active</string>
						<key>backgroundImageTintColorHighlighted</key>
						<string>@variables/btn_outline_active</string>
						<key>backgroundImageTintColorSelected</key>
						<string>@variables/btn_outline_active</string>
						<key>backgroundImageTintColorHighlightedSelected</key>
						<string>@variables/btn_outline_active</string>
					</dict>
					<key>success</key>
					<dict>
						<key>textColor</key>
						<string>@variables/btn_outline_success</string>
						<key>textColorHighlighted</key>
						<string>@colors/base_color_white_0</string>
						<key>textColorHighlightedSelected</key>
						<string>@colors/base_color_white_0</string>
						<key>textColorSelected</key>
						<string>@colors/base_color_white_0</string>
						<key>imageTintColorNormal</key>
						<string>@variables/btn_outline_success</string>
						<key>imageTintColorHighlighted</key>
						<string>@colors/base_color_white_0</string>
						<key>imageTintColorSelected</key>
						<string>@colors/base_color_white_0</string>
						<key>imageTintColorHighlightedSelected</key>
						<string>@colors/base_color_white_0</string>
						<key>backgroundImageTintColorNormal</key>
						<string>@variables/btn_outline_success</string>
						<key>backgroundImageTintColorHighlighted</key>
						<string>@variables/btn_outline_success</string>
						<key>backgroundImageTintColorSelected</key>
						<string>@variables/btn_outline_success</string>
						<key>backgroundImageTintColorHighlightedSelected</key>
						<string>@variables/btn_outline_success</string>
					</dict>
					<key>disabled</key>
					<dict>
						<key>textColor</key>
						<string>@colors/base_color_white_500</string>
						<key>textColorHighlighted</key>
						<string>@colors/base_color_white_0</string>
						<key>textColorHighlightedSelected</key>
						<string>@colors/base_color_white_0</string>
						<key>textColorSelected</key>
						<string>@colors/base_color_white_0</string>
						<key>imageTintColorNormal</key>
						<string>@colors/base_color_white_500</string>
						<key>imageTintColorHighlighted</key>
						<string>@colors/base_color_white_0</string>
						<key>imageTintColorSelected</key>
						<string>@colors/base_color_white_0</string>
						<key>imageTintColorHighlightedSelected</key>
						<string>@colors/base_color_white_0</string>
						<key>backgroundImageTintColorNormal</key>
						<string>@variables/btn_outline_disabled</string>
						<key>backgroundImageTintColorHighlighted</key>
						<string>@variables/btn_outline_disabled</string>
						<key>backgroundImageTintColorSelected</key>
						<string>@variables/btn_outline_disabled</string>
						<key>backgroundImageTintColorHighlightedSelected</key>
						<string>@variables/btn_outline_disabled</string>
					</dict>
				</dict>
				<key>slicing</key>
				<dict>
					<key>resizableBackgroundImageWithInsetsHighlightedSelected</key>
					<integer>21</integer>
					<key>resizableBackgroundImageWithInsetsNormal</key>
					<integer>21</integer>
					<key>resizableBackgroundImageWithInsetsHighlighted</key>
					<integer>21</integer>
					<key>resizableBackgroundImageWithInsetsSelected</key>
					<integer>21</integer>
					<key>resizableBackgroundImageWithInsetsDisabled</key>
					<integer>21</integer>
				</dict>
			</dict>
			<key>circle</key>
			<dict>
				<key>base</key>
				<dict>
					<key>fontFamily</key>
					<string>@fonts/fontFamilyBold</string>
					<key>fontSize</key>
					<string>@fonts/fontSizeLarge</string>
					<key>backgroundImagePath</key>
					<string>btn_circle_outline_40</string>
					<key>backgroundImagePathHighlighted</key>
					<string>btn_circle_fill_40</string>
					<key>backgroundImagePathSelected</key>
					<string>btn_circle_fill_40</string>
					<key>backgroundImagePathHighlightedSelected</key>
					<string>btn_circle_fill_40</string>
				</dict>
				<key>type</key>
				<dict>
					<key>success</key>
					<dict>
						<key>textColor</key>
						<string>@variables/btn_outline_success</string>
						<key>textColorHighlighted</key>
						<string>@colors/base_color_white_0</string>
						<key>textColorHighlightedSelected</key>
						<string>@colors/base_color_white_0</string>
						<key>textColorSelected</key>
						<string>@colors/base_color_white_0</string>
						<key>imageTintColorNormal</key>
						<string>@variables/btn_outline_success</string>
						<key>imageTintColorHighlighted</key>
						<string>@colors/base_color_white_0</string>
						<key>imageTintColorSelected</key>
						<string>@colors/base_color_white_0</string>
						<key>imageTintColorHighlightedSelected</key>
						<string>@colors/base_color_white_0</string>
						<key>backgroundImageTintColorNormal</key>
						<string>@variables/btn_outline_success</string>
						<key>backgroundImageTintColorHighlighted</key>
						<string>@variables/btn_outline_success</string>
						<key>backgroundImageTintColorSelected</key>
						<string>@variables/btn_outline_success</string>
						<key>backgroundImageTintColorHighlightedSelected</key>
						<string>@variables/btn_outline_success</string>
					</dict>
					<key>danger</key>
					<dict>
						<key>textColor</key>
						<string>@variables/btn_outline_danger</string>
						<key>textColorHighlighted</key>
						<string>@colors/base_color_white_0</string>
						<key>textColorHighlightedSelected</key>
						<string>@colors/base_color_white_0</string>
						<key>textColorSelected</key>
						<string>@colors/base_color_white_0</string>
						<key>imageTintColorNormal</key>
						<string>@variables/btn_outline_danger</string>
						<key>imageTintColorHighlighted</key>
						<string>@colors/base_color_white_0</string>
						<key>imageTintColorSelected</key>
						<string>@colors/base_color_white_0</string>
						<key>imageTintColorHighlightedSelected</key>
						<string>@colors/base_color_white_0</string>
						<key>backgroundImageTintColorNormal</key>
						<string>@variables/btn_outline_danger</string>
						<key>backgroundImageTintColorHighlighted</key>
						<string>@variables/btn_outline_danger</string>
						<key>backgroundImageTintColorSelected</key>
						<string>@variables/btn_outline_danger</string>
						<key>backgroundImageTintColorHighlightedSelected</key>
						<string>@variables/btn_outline_danger</string>
					</dict>
					<key>default</key>
					<dict>
						<key>textColor</key>
						<string>@variables/btn_outline_default</string>
						<key>textColorHighlighted</key>
						<string>@colors/base_color_white_0</string>
						<key>textColorHighlightedSelected</key>
						<string>@colors/base_color_white_0</string>
						<key>textColorSelected</key>
						<string>@colors/base_color_white_0</string>
						<key>imageTintColorNormal</key>
						<string>@variables/btn_outline_default</string>
						<key>imageTintColorHighlighted</key>
						<string>@colors/base_color_white_0</string>
						<key>imageTintColorSelected</key>
						<string>@colors/base_color_white_0</string>
						<key>imageTintColorHighlightedSelected</key>
						<string>@colors/base_color_white_0</string>
						<key>backgroundImageTintColorNormal</key>
						<string>@variables/btn_outline_default</string>
						<key>backgroundImageTintColorHighlighted</key>
						<string>@variables/btn_outline_default</string>
						<key>backgroundImageTintColorSelected</key>
						<string>@variables/btn_outline_default</string>
						<key>backgroundImageTintColorHighlightedSelected</key>
						<string>@variables/btn_outline_default</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>no_shape</key>
		<dict>
			<key>long</key>
			<dict>
				<key>base</key>
				<dict>
					<key>fontFamily</key>
					<string>@fonts/fontFamilyBold</string>
					<key>fontSize</key>
					<string>@fonts/fontSizeLarge</string>
				</dict>
				<key>type</key>
				<dict>
					<key>link</key>
					<dict>
						<key>textColor</key>
						<string>@colors/base_color_orange_100</string>
						<key>textColorHighlighted</key>
						<string>@colors/base_color_orange_300</string>
						<key>textColorHighlightedSelected</key>
						<string>@colors/base_color_orange_300</string>
						<key>textColorSelected</key>
						<string>@colors/base_color_orange_300</string>
						<key>imageTintColorNormal</key>
						<string>@colors/base_color_orange_100</string>
						<key>imageTintColorHighlighted</key>
						<string>@colors/base_color_orange_300</string>
						<key>imageTintColorSelected</key>
						<string>@colors/base_color_orange_300</string>
						<key>imageTintColorHighlightedSelected</key>
						<string>@colors/base_color_orange_300</string>
					</dict>
				</dict>
				<key>slicing</key>
				<dict>
					<key>resizableBackgroundImageWithInsetsHighlightedSelected</key>
					<integer>21</integer>
					<key>resizableBackgroundImageWithInsetsNormal</key>
					<integer>21</integer>
					<key>resizableBackgroundImageWithInsetsHighlighted</key>
					<integer>21</integer>
					<key>resizableBackgroundImageWithInsetsSelected</key>
					<integer>21</integer>
					<key>resizableBackgroundImageWithInsetsDisabled</key>
					<integer>21</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>icon</key>
	<dict>
		<key>base</key>
		<dict/>
		<key>type</key>
		<dict>
			<key>star</key>
			<dict>
				<key>imageTintColorNormal</key>
				<string>@variables/ic_star</string>
				<key>imageTintColorHighlighted</key>
				<string>@variables/ic_star</string>
			</dict>
			<key>active</key>
			<dict>
				<key>imageTintColorNormal</key>
				<string>@variables/icon_active</string>
				<key>imageTintColorHighlighted</key>
				<string>@variables/icon_active&gt;85</string>
			</dict>
			<key>default</key>
			<dict>
				<key>imageTintColorNormal</key>
				<string>@variables/icon_default</string>
				<key>imageTintColorHighlighted</key>
				<string>@variables/icon_default&gt;85</string>
			</dict>
			<key>disabled</key>
			<dict>
				<key>imageTintColorNormal</key>
				<string>@variables/icon_disabled</string>
				<key>imageTintColorHighlighted</key>
				<string>@variables/icon_disabled&gt;85</string>
			</dict>
			<key>favorite</key>
			<dict>
				<key>imageTintColorNormal</key>
				<string>@variables/icon_favorite</string>
				<key>imageTintColorHighlighted</key>
				<string>@variables/icon_favorite&gt;85</string>
			</dict>
			<key>info</key>
			<dict>
				<key>imageTintColorNormal</key>
				<string>@variables/icon_info</string>
				<key>imageTintColorHighlighted</key>
				<string>@variables/icon_info&gt;85</string>
			</dict>
			<key>success</key>
			<dict>
				<key>imageTintColorNormal</key>
				<string>@variables/bg_success</string>
				<key>imageTintColorHighlighted</key>
				<string>@variables/bg_success&gt;85</string>
			</dict>
			<key>danger</key>
			<dict>
				<key>imageTintColorNormal</key>
				<string>@variables/bg_danger</string>
				<key>imageTintColorHighlighted</key>
				<string>@variables/bg_danger&gt;85</string>
			</dict>
			<key>inverse</key>
			<dict>
				<key>imageTintColorNormal</key>
				<string>@variables/icon_inverse</string>
				<key>imageTintColorHighlighted</key>
				<string>@variables/icon_inverse&gt;85</string>
			</dict>
			<key>star_challenge</key>
			<dict>
				<key>imageTintColorNormal</key>
				<string>@variables/icon_star_challenge</string>
				<key>imageTintColorHighlighted</key>
				<string>@variables/icon_star_challenge&gt;85</string>
			</dict>
		</dict>
	</dict>
	<key>segmented_control</key>
	<dict>
		<key>base</key>
		<dict>
			<key>fontFamilyStateAll</key>
			<string>@fonts/fontFamilyBold</string>
		</dict>
		<key>type</key>
		<dict>
			<key>default</key>
			<dict>
				<key>segmentedControlTintColor</key>
				<string>@variables/bg_default</string>
				<key>fontColorHighlight</key>
				<string>@variables/bg_active</string>
			</dict>
		</dict>
	</dict>
	<key>line_separator</key>
	<dict>
		<key>backgroundColor</key>
		<string>@variables/separator_solid</string>
	</dict>
	<key>form</key>
	<dict>
		<key>text_field</key>
		<dict>
			<key>base</key>
			<dict>
				<key>textFieldTintColor</key>
				<string>@variables/textfield_pointer</string>
			</dict>
			<key>type</key>
			<dict>
				<key>default</key>
				<dict>
					<key>textColor</key>
					<string>@bootstrap/text.type.default.fontColor</string>
				</dict>
			</dict>
			<key>font_family</key>
			<dict>
				<key>light</key>
				<dict>
					<key>fontFamily</key>
					<string>@fonts/fontFamilyLight</string>
				</dict>
				<key>regular</key>
				<dict>
					<key>fontFamily</key>
					<string>@fonts/fontFamilyRegular</string>
				</dict>
				<key>bold</key>
				<dict>
					<key>fontFamily</key>
					<string>@fonts/fontFamilyBold</string>
				</dict>
				<key>black</key>
				<dict>
					<key>fontFamily</key>
					<string>@fonts/fontFamilyBlack</string>
				</dict>
			</dict>
			<key>font_size</key>
			<dict>
				<key>extra_extra_small</key>
				<dict>
					<key>fontSize</key>
					<string>@fonts/fontSizeExtraExtraSmall</string>
				</dict>
				<key>extra_small</key>
				<dict>
					<key>fontSize</key>
					<string>@fonts/fontSizeExtraSmall</string>
				</dict>
				<key>small</key>
				<dict>
					<key>fontSize</key>
					<string>@fonts/fontSizeSmall</string>
				</dict>
				<key>medium</key>
				<dict>
					<key>fontSize</key>
					<string>@fonts/fontSizeMedium</string>
				</dict>
				<key>large</key>
				<dict>
					<key>fontSize</key>
					<string>@fonts/fontSizeLarge</string>
				</dict>
				<key>extra_large</key>
				<dict>
					<key>fontSize</key>
					<string>@fonts/fontSizeExtraLarge</string>
				</dict>
				<key>extra_extra_large</key>
				<dict>
					<key>fontSize</key>
					<string>@fonts/fontSizeExtraExtraLarge</string>
				</dict>
			</dict>
		</dict>
		<key>text_view</key>
		<dict>
			<key>base</key>
			<dict>
				<key>tintColor</key>
				<string>@variables/textfield_pointer</string>
			</dict>
			<key>type</key>
			<dict>
				<key>default</key>
				<dict>
					<key>textColor</key>
					<string>@bootstrap/text.type.default.fontColor</string>
				</dict>
				<key>secondary</key>
				<dict>
					<key>textColor</key>
					<string>@bootstrap/text.type.secondary.fontColor</string>
				</dict>
			</dict>
			<key>font_family</key>
			<dict>
				<key>light</key>
				<dict>
					<key>fontFamily</key>
					<string>@fonts/fontFamilyLight</string>
				</dict>
				<key>regular</key>
				<dict>
					<key>fontFamily</key>
					<string>@fonts/fontFamilyRegular</string>
				</dict>
				<key>bold</key>
				<dict>
					<key>fontFamily</key>
					<string>@fonts/fontFamilyBold</string>
				</dict>
				<key>black</key>
				<dict>
					<key>fontFamily</key>
					<string>@fonts/fontFamilyBlack</string>
				</dict>
			</dict>
			<key>font_size</key>
			<dict>
				<key>extra_extra_small</key>
				<dict>
					<key>fontSize</key>
					<string>@fonts/fontSizeExtraExtraSmall</string>
				</dict>
				<key>extra_small</key>
				<dict>
					<key>fontSize</key>
					<string>@fonts/fontSizeExtraSmall</string>
				</dict>
				<key>small</key>
				<dict>
					<key>fontSize</key>
					<string>@fonts/fontSizeSmall</string>
				</dict>
				<key>medium</key>
				<dict>
					<key>fontSize</key>
					<string>@fonts/fontSizeMedium</string>
				</dict>
				<key>large</key>
				<dict>
					<key>fontSize</key>
					<string>@fonts/fontSizeLarge</string>
				</dict>
				<key>extra_large</key>
				<dict>
					<key>fontSize</key>
					<string>@fonts/fontSizeExtraLarge</string>
				</dict>
				<key>extra_extra_large</key>
				<dict>
					<key>fontSize</key>
					<string>@fonts/fontSizeExtraExtraLarge</string>
				</dict>
			</dict>
		</dict>
		<key>checkbox</key>
		<dict>
			<key>base</key>
			<dict>
				<key>imagePath</key>
				<string>ic_checkbox_unchecked_24</string>
				<key>imagePathHighlighted</key>
				<string>ic_checkbox_checked_24</string>
				<key>imagePathSelected</key>
				<string>ic_checkbox_checked_24</string>
			</dict>
			<key>type</key>
			<dict>
				<key>default</key>
				<dict>
					<key>imageTintColorNormal</key>
					<string>@variables/icon_default</string>
					<key>imageTintColorHighlighted</key>
					<string>@variables/icon_active</string>
					<key>imageTintColorSelected</key>
					<string>@variables/icon_active</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>switch</key>
	<dict>
		<key>base</key>
		<dict/>
		<key>type</key>
		<dict>
			<key>default</key>
			<dict>
				<key>onTintColor</key>
				<string>@variables/switch_on</string>
			</dict>
		</dict>
	</dict>
	<key>alert_view</key>
	<dict>
		<key>background</key>
		<string>@variables/bg_alert</string>
		<key>line_separator</key>
		<string>@variables/separator_solid</string>
		<key>title</key>
		<string>@bootstrap/text.type.default.fontColor</string>
		<key>message</key>
		<string>@bootstrap/text.type.secondary.fontColor</string>
		<key>button</key>
		<string>@bootstrap/text.type.active.fontColor</string>
	</dict>
	<key>tableView</key>
	<dict>
		<key>cell</key>
		<dict>
			<key>backgroundNormal</key>
			<dict>
				<key>backgroundColor</key>
				<string>@variables/bg_list</string>
			</dict>
			<key>backgroundSelected</key>
			<dict>
				<key>backgroundColor</key>
				<string>@colors/base_color_white_200</string>
			</dict>
		</dict>
	</dict>
	<key>collectionView</key>
	<dict>
		<key>cell</key>
		<dict>
			<key>backgroundNormal</key>
			<dict>
				<key>backgroundColor</key>
				<string>@variables/bg_list</string>
			</dict>
			<key>backgroundSelected</key>
			<dict>
				<key>backgroundColor</key>
				<string>@colors/base_color_white_200</string>
			</dict>
			<key>backgroundHighlighted</key>
			<dict>
				<key>backgroundColor</key>
				<string>@colors/base_color_white_200</string>
			</dict>
		</dict>
	</dict>
	<key>loading_view</key>
	<dict>
		<key>background</key>
		<dict>
			<key>color</key>
			<string>@variables/bg_default</string>
		</dict>
		<key>spinner</key>
		<dict>
			<key>color</key>
			<string>@colors/base_color_white_400</string>
		</dict>
		<key>blur</key>
		<false/>
	</dict>
</dict>
</plist>
