<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>base_color_white_0</key>
	<string>#FFFFFF</string>
	<key>base_color_white_100</key>
	<string>#F4F9F0</string>
	<key>base_color_white_200</key>
	<string>#E8EBE6</string>
	<key>base_color_white_300</key>
	<string>#DBDFD8</string>
	<key>base_color_white_400</key>
	<string>#CFD4CA</string>
	<key>base_color_white_500</key>
	<string>#C3C8BC</string>
	<key>base_color_grey_100</key>
	<string>#9CA095</string>
	<key>base_color_grey_200</key>
	<string>#878C83</string>
	<key>base_color_grey_300</key>
	<string>#757770</string>
	<key>base_color_grey_400</key>
	<string>#60645D</string>
	<key>base_color_grey_500</key>
	<string>#4D504B</string>
	<key>base_color_black_0</key>
	<string>#000000</string>
	<key>base_color_black_100</key>
	<string>#3A3B38</string>
	<key>base_color_black_200</key>
	<string>#343631</string>
	<key>base_color_black_300</key>
	<string>#2D2F2B</string>
	<key>base_color_black_400</key>
	<string>#282A26</string>
	<key>base_color_black_500</key>
	<string>#212321</string>
	<key>base_color_brown_100</key>
	<string>#8C7969</string>
	<key>base_color_brown_200</key>
	<string>#6E6052</string>
	<key>base_color_brown_300</key>
	<string>#605448</string>
	<key>base_color_brown_400</key>
	<string>#50473D</string>
	<key>base_color_brown_500</key>
	<string>#423B31</string>
	<key>base_color_orange_100</key>
	<string>#FBB82F</string>
	<key>base_color_orange_200</key>
	<string>#FBAF14</string>
	<key>base_color_orange_300</key>
	<string>#F4A502</string>
	<key>base_color_orange_400</key>
	<string>#DB9302</string>
	<key>base_color_orange_500</key>
	<string>#C38302</string>
	<key>base_color_yellow_100</key>
	<string>#FDDA82</string>
	<key>base_color_yellow_200</key>
	<string>#FDCB4F</string>
	<key>base_color_yellow_300</key>
	<string>#FDC436</string>
	<key>base_color_yellow_400</key>
	<string>#FDBE1C</string>
	<key>base_color_yellow_500</key>
	<string>#E4A502</string>
	<key>base_color_red_100</key>
	<string>#EF958A</string>
	<key>base_color_red_200</key>
	<string>#E86C5D</string>
	<key>base_color_red_300</key>
	<string>#E65748</string>
	<key>base_color_red_400</key>
	<string>#E24331</string>
	<key>base_color_red_500</key>
	<string>#C62B1A</string>
	<key>base_color_pink_100</key>
	<string>#F6ACB5</string>
	<key>base_color_pink_200</key>
	<string>#F07E8C</string>
	<key>base_color_pink_300</key>
	<string>#EF6777</string>
	<key>base_color_pink_400</key>
	<string>#ED5063</string>
	<key>base_color_pink_500</key>
	<string>#E93A4F</string>
	<key>base_color_purple_100</key>
	<string>#B48CBF</string>
	<key>base_color_purple_200</key>
	<string>#9F6BAE</string>
	<key>base_color_purple_300</key>
	<string>#955BA5</string>
	<key>base_color_purple_400</key>
	<string>#865295</string>
	<key>base_color_purple_500</key>
	<string>#774983</string>
	<key>base_color_blue_100</key>
	<string>#6EB7E8</string>
	<key>base_color_blue_200</key>
	<string>#42A1E1</string>
	<key>base_color_blue_300</key>
	<string>#2B97DD</string>
	<key>base_color_blue_400</key>
	<string>#2189CF</string>
	<key>base_color_blue_500</key>
	<string>#1C7BBA</string>
	<key>base_color_blue_600</key>
	<string>#11496F</string>
	<key>base_color_light_blue_100</key>
	<string>#89E6E6</string>
	<key>base_color_light_blue_200</key>
	<string>#5EDDDD</string>
	<key>base_color_light_blue_300</key>
	<string>#49D8D8</string>
	<key>base_color_light_blue_400</key>
	<string>#34D4D4</string>
	<key>base_color_light_blue_500</key>
	<string>#2AC6C6</string>
	<key>base_color_blue_green_100</key>
	<string>#54D8BF</string>
	<key>base_color_blue_green_200</key>
	<string>#2FCAAF</string>
	<key>base_color_blue_green_300</key>
	<string>#2AB69C</string>
	<key>base_color_blue_green_400</key>
	<string>#24A18A</string>
	<key>base_color_blue_green_500</key>
	<string>#1C7767</string>
	<key>base_color_green_100</key>
	<string>#83DB97</string>
	<key>base_color_green_200</key>
	<string>#5BD175</string>
	<key>base_color_green_300</key>
	<string>#46CA64</string>
	<key>base_color_green_400</key>
	<string>#36C156</string>
	<key>base_color_green_500</key>
	<string>#31AE4D</string>
	<key>base_color_green_yellow_100</key>
	<string>#C8DD66</string>
	<key>base_color_green_yellow_200</key>
	<string>#B8D33B</string>
	<key>base_color_green_yellow_300</key>
	<string>#AEC82D</string>
	<key>base_color_green_yellow_400</key>
	<string>#9BB328</string>
	<key>base_color_green_yellow_500</key>
	<string>#899E23</string>
	<key>placeholder</key>
	<string>#00395F</string>
</dict>
</plist>
