<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>qruikit</key>
	<dict>
		<key>performanceGeneric</key>
		<dict>
			<key>image</key>
			<dict>
				<key>cornerRadius</key>
				<string>20</string>
			</dict>
			<key>progressView</key>
			<dict>
				<key>cornerRadius</key>
				<string>5</string>
			</dict>
			<key>progress</key>
			<dict>
				<key>tintColor</key>
				<string>@variables/progress_default</string>
				<key>trackTintColor</key>
				<string>@variables/progress_default_bg</string>
			</dict>
		</dict>
		<key>guideApp</key>
		<dict>
			<key>elementsView</key>
			<dict>
				<key>overlay</key>
				<dict>
					<key>backgroundColor</key>
					<string>@variables/bg_overlay%80</string>
				</dict>
			</dict>
			<key>navigationView</key>
			<dict>
				<key>btnClose</key>
				<dict>
					<key>textColor</key>
					<string>@colors/base_color_white_0</string>
					<key>textColorHighlighted</key>
					<string>@colors/base_color_white_100</string>
					<key>textColorHighlightedSelected</key>
					<string>@colors/base_color_white_100</string>
					<key>textColorSelected</key>
					<string>@colors/base_color_white_100</string>
				</dict>
			</dict>
		</dict>
		<key>genericList</key>
		<dict>
			<key>cell</key>
			<dict>
				<key>iconChecked</key>
				<dict>
					<key>imageTintColorHighlighted</key>
					<string>@variables/icon_active</string>
				</dict>
			</dict>
		</dict>
		<key>toastView</key>
		<dict>
			<key>view</key>
			<dict>
				<key>backgroundColor</key>
				<dict>
					<key>backgroundColor</key>
					<string>@variables/bg_overlay</string>
				</dict>
				<key>border</key>
				<dict>
					<key>cornerRadius</key>
					<integer>22</integer>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
