<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionbar_draw</key>
	<string>@colors/base_color_purple_300</string>
	<key>actionbar_loser</key>
	<string>@colors/base_color_blue_600</string>
	<key>actionbar_winner</key>
	<string>@colors/base_color_blue_200</string>
	<key>answer_circle</key>
	<string>@colors/base_color_yellow_300</string>
	<key>answer_circle_active</key>
	<string>@colors/base_color_orange_300</string>
	<key>answer_circle_disabled</key>
	<string>@colors/base_color_white_400</string>
	<key>answer_circle_inverse</key>
	<string>@colors/base_color_white_0</string>
	<key>alert_default</key>
	<string>@colors/base_color_white_200</string>
	<key>bg_active</key>
	<string>@colors/base_color_orange_100</string>
	<key>bg_alert</key>
	<string>@colors/base_color_white_0</string>
	<key>bg_answer</key>
	<string>@colors/base_color_white_0</string>
	<key>bg_answer_active</key>
	<string>@colors/base_color_yellow_300</string>
	<key>bg_answer_correct</key>
	<string>@colors/base_color_green_300</string>
	<key>bg_answer_incorrect</key>
	<string>@colors/base_color_red_300</string>
	<key>bg_bonus</key>
	<string>@colors/base_color_blue_green_200</string>
	<key>bg_birthday</key>
	<string>@colors/base_color_green_yellow_300</string>
	<key>bg_card</key>
	<string>@colors/base_color_white_0</string>
	<key>bg_correct_crossword</key>
	<string>@colors/base_color_green_100</string>
	<key>bg_danger</key>
	<string>@colors/base_color_red_300</string>
	<key>bg_default</key>
	<string>@colors/base_color_white_100</string>
	<key>bg_disabled</key>
	<string>@colors/base_color_white_200</string>
	<key>bg_facebook</key>
	<string>#3B5998</string>
	<key>bg_google</key>
	<string>@colors/base_color_white_0</string>
	<key>bg_general</key>
	<string>@colors/base_color_white_0</string>
	<key>bg_info</key>
	<string>@colors/base_color_blue_green_200</string>
	<key>bg_instagram</key>
	<string>#FF3366</string>
	<key>bg_feed_news</key>
	<string>@colors/base_color_orange_300</string>
	<key>bg_feed_play</key>
	<string>@colors/base_color_blue_300</string>
	<key>bg_feed_prize</key>
	<string>@colors/base_color_blue_green_200</string>
	<key>bg_feed_ranking</key>
	<string>@colors/base_color_red_300</string>
	<key>bg_feed_video</key>
	<string>@colors/base_color_purple_200</string>
	<key>bg_feed_report</key>
	<string>@colors/base_color_green_300</string>
	<key>bg_feed_birthday</key>
	<string>@colors/base_color_pink_300</string>
	<key>bg_feed_achievements</key>
	<string>@colors/base_color_green_yellow_300</string>
	<key>bg_notification</key>
	<string>@colors/base_color_red_300</string>
	<key>icon_facebook</key>
	<string>@colors/base_color_white_0</string>
	<key>icon_twitter</key>
	<string>@colors/base_color_white_0</string>
	<key>icon_instagram</key>
	<string>@colors/base_color_white_0</string>
	<key>icon_youtube</key>
	<string>@colors/base_color_white_0</string>
	<key>bg_list</key>
	<string>@colors/base_color_white_0</string>
	<key>bg_opponent</key>
	<string>@colors/base_color_yellow_400</string>
	<key>bg_overlay</key>
	<string>@colors/base_color_black_0</string>
	<key>bg_premium</key>
	<string>@colors/base_color_yellow_300</string>
	<key>bg_question</key>
	<string>@colors/base_color_grey_200</string>
	<key>bg_no_redeem</key>
	<string>@colors/base_color_pink_300</string>
	<key>bg_redeem</key>
	<string>@colors/base_color_blue_200</string>
	<key>bg_search</key>
	<string>@colors/base_color_white_200</string>
	<key>bg_success</key>
	<string>@colors/base_color_green_300</string>
	<key>bg_twitter</key>
	<string>#55ACEE</string>
	<key>bg_youtube</key>
	<string>#E52D27</string>
	<key>btn_default</key>
	<string>@colors/base_color_white_0</string>
	<key>bg_download</key>
	<string>@colors/base_color_blue_300</string>
	<key>btn_more_option_1</key>
	<string>@colors/base_color_yellow_300</string>
	<key>btn_more_option_2</key>
	<string>@colors/base_color_orange_100</string>
	<key>btn_more_option_3</key>
	<string>@colors/base_color_orange_300</string>
	<key>btn_outline_active</key>
	<string>@colors/base_color_orange_100</string>
	<key>btn_outline_danger</key>
	<string>@colors/base_color_red_300</string>
	<key>btn_outline_default</key>
	<string>@colors/base_color_grey_100</string>
	<key>btn_outline_disabled</key>
	<string>@colors/base_color_white_200</string>
	<key>btn_outline_success</key>
	<string>@colors/base_color_green_300</string>
	<key>btn_primary</key>
	<string>@colors/base_color_orange_300</string>
	<key>btn_primary_dark</key>
	<string>@colors/base_color_orange_400</string>
	<key>btn_secondary</key>
	<string>@colors/base_color_blue_300</string>
	<key>chart_radar_content</key>
	<string>@colors/base_color_orange_100</string>
	<key>chart_radar_line</key>
	<string>@colors/base_color_white_300</string>
	<key>circle_challenge_active</key>
	<string>@colors/base_color_yellow_300</string>
	<key>circle_challenge_disabled</key>
	<string>@colors/base_color_yellow_300</string>
	<key>circle_challenge_finished</key>
	<string>@colors/base_color_white_0</string>
	<key>bg_cover</key>
	<string>@colors/base_color_yellow_300</string>
	<key>flashcard_alert</key>
	<string>@colors/base_color_white_200</string>
	<key>flashcard_alert_border</key>
	<string>@colors/base_color_white_300</string>
	<key>ic_star</key>
	<string>@colors/base_color_orange_300</string>
	<key>icon_active</key>
	<string>@colors/base_color_orange_100</string>
	<key>icon_default</key>
	<string>@colors/base_color_grey_100</string>
	<key>icon_disabled</key>
	<string>@colors/base_color_white_500</string>
	<key>icon_favorite</key>
	<string>@colors/base_color_pink_300</string>
	<key>icon_info</key>
	<string>@colors/base_color_blue_green_200</string>
	<key>icon_inverse</key>
	<string>@colors/base_color_white_0</string>
	<key>icon_navbar_default</key>
	<string>@colors/base_color_white_0</string>
	<key>icon_star_challenge</key>
	<string>@colors/base_color_orange_300</string>
	<key>level_available</key>
	<string>@colors/base_color_orange_100</string>
	<key>level_bronze_bg</key>
	<string>@colors/base_color_orange_300</string>
	<key>level_bronze_border</key>
	<string>@colors/base_color_orange_400</string>
	<key>level_bronze_reflection</key>
	<string>@colors/base_color_orange_200</string>
	<key>level_circle_bg</key>
	<string>@colors/base_color_yellow_300</string>
	<key>level_circle_toolbar_bg</key>
	<string>@colors/base_color_white_0</string>
	<key>level_disabled</key>
	<string>@colors/base_color_white_500</string>
	<key>level_finished_border</key>
	<string>@colors/base_color_orange_300</string>
	<key>level_gold_bg</key>
	<string>@colors/base_color_yellow_300</string>
	<key>level_gold_border</key>
	<string>@colors/base_color_orange_30</string>
	<key>level_gold_reflection</key>
	<string>@colors/base_color_yellow_200</string>
	<key>level_silver_bg</key>
	<string>@colors/base_color_white_400</string>
	<key>level_silver_border</key>
	<string>@colors/base_color_white_500</string>
	<key>level_silver_reflection</key>
	<string>@colors/base_color_white_300</string>
	<key>message_friend_bg</key>
	<string>@colors/base_color_white_0</string>
	<key>message_user_bg</key>
	<string>@colors/base_color_orange_100</string>
	<key>navbar_default</key>
	<string>@colors/base_color_yellow_300</string>
	<key>navbar_overlay</key>
	<string>@colors/base_color_yellow_300</string>
	<key>navbar_qranio</key>
	<string>@colors/base_color_yellow_300</string>
	<key>neuros_bg</key>
	<string>@colors/base_color_yellow_100</string>
	<key>neuros_circle_bg</key>
	<string>@colors/base_color_yellow_100</string>
	<key>points_bg</key>
	<string>@colors/base_color_orange_200</string>
	<key>points_bg_2</key>
	<string>@colors/base_color_yellow_100</string>
	<key>points_circle_bg</key>
	<string>@colors/base_color_orange_300</string>
	<key>points_circle_bg_2</key>
	<string>@colors/base_color_yellow_200</string>
	<key>progress_completed</key>
	<string>@colors/base_color_green_300</string>
	<key>progress_default</key>
	<string>@colors/base_color_yellow_300</string>
	<key>progress_default_bg</key>
	<string>@colors/base_color_white_200</string>
	<key>progress_toolbar</key>
	<string>@colors/base_color_white_0</string>
	<key>progress_toolbar_bg</key>
	<string>@colors/base_color_orange_200</string>
	<key>separator_solid</key>
	<string>@colors/base_color_white_200</string>
	<key>slider</key>
	<string>@colors/base_color_orange_100</string>
	<key>slider_off</key>
	<string>@colors/base_color_white_200</string>
	<key>tab_active</key>
	<string>@colors/base_color_white_0</string>
	<key>tab_bar_default</key>
	<string>@colors/base_color_white_0</string>
	<key>textfield_pointer</key>
	<string>@colors/base_color_orange_100</string>
	<key>timer_bar_green</key>
	<string>@colors/base_color_green_300</string>
	<key>timer_bar_grey</key>
	<string>@colors/base_color_white_200</string>
	<key>timer_bar_grey_dark</key>
	<string>@colors/base_color_white_300</string>
	<key>timer_bar_orange</key>
	<string>@colors/base_color_orange_300</string>
	<key>timer_bar_red</key>
	<string>@colors/base_color_red_300</string>
	<key>timer_points</key>
	<string>@colors/base_color_yellow_200</string>
	<key>timer_points_stop</key>
	<string>@colors/base_color_orange_200</string>
	<key>btn_play_courses</key>
	<string>@colors/base_color_blue_green_200</string>
	<key>btn_play_free</key>
	<string>@colors/base_color_blue_200</string>
	<key>btn_play_challenge</key>
	<string>@colors/base_color_red_300</string>
	<key>btn_play_qotd</key>
	<string>@colors/base_color_pink_200</string>
	<key>btn_play_duels</key>
	<string>@colors/base_color_orange_300</string>
	<key>btn_play_trail</key>
	<string>@colors/base_color_green_300</string>
	<key>btn_duels_surprise</key>
	<string>@colors/base_color_purple_200</string>
	<key>btn_duels_select_opponent</key>
	<string>@colors/base_color_light_blue_400</string>
	<key>btn_duels_random</key>
	<string>@colors/base_color_blue_200</string>
	<key>pre_duel_gradient_top_color_1</key>
	<string>@colors/base_color_orange_300</string>
	<key>pre_duel_gradient_top_color_2</key>
	<string>@colors/base_color_red_300</string>
	<key>pre_duel_gradient_bottom_color_1</key>
	<string>@colors/base_color_purple_200</string>
	<key>pre_duel_gradient_bottom_color_2</key>
	<string>@colors/base_color_blue_400</string>
	<key>pre_stage_bg_view_top_bar</key>
	<string>@colors/base_color_blue_200</string>
	<key>pre_stage_bg_view_top</key>
	<string>@colors/base_color_blue_200</string>
	<key>btn_profile_1</key>
	<string>@colors/base_color_yellow_300</string>
	<key>btn_profile_2</key>
	<string>@colors/base_color_orange_100</string>
	<key>btn_profile_3</key>
	<string>@colors/base_color_orange_200</string>
	<key>btn_profile_4</key>
	<string>@colors/base_color_orange_300</string>
	<key>profile_checked</key>
	<string>@colors/base_color_blue_300</string>
	<key>profile_heart</key>
	<string>@colors/base_color_red_300</string>
	<key>profile_charts</key>
	<string>@colors/base_color_blue_green_200</string>
	<key>profile_combo</key>
	<string>@colors/base_color_orange_300</string>
	<key>switch_on</key>
	<string>@colors/base_color_green_300</string>
	<key>actionbar_login</key>
	<string>@colors/base_color_green_yellow_300</string>
	<key>actionbar_signup</key>
	<string>@colors/base_color_purple_100</string>
	<key>menu_notifications</key>
	<string>@colors/base_color_purple_200</string>
	<key>menu_friends</key>
	<string>@colors/base_color_orange_300</string>
	<key>menu_messages</key>
	<string>@colors/base_color_blue_300</string>
	<key>menu_store</key>
	<string>@colors/base_color_green_300</string>
	<key>menu_premium</key>
	<string>@colors/base_color_yellow_300</string>
	<key>menu_achievements</key>
	<string>@colors/base_color_green_yellow_300</string>
	<key>menu_ranking</key>
	<string>@colors/base_color_red_300</string>
	<key>menu_redeem</key>
	<string>@colors/base_color_light_blue_300</string>
	<key>menu_questions</key>
	<string>@colors/base_color_blue_green_200</string>
	<key>menu_settings</key>
	<string>@colors/base_color_grey_100</string>
	<key>menu_prizes</key>
	<string>@colors/base_color_pink_200</string>
	<key>menu_library</key>
	<string>@colors/base_color_pink_200</string>
	<key>menu_redeem_code</key>
	<string>@colors/base_color_brown_100</string>
	<key>help_icon_bg</key>
	<string>@colors/base_color_white_200</string>
	<key>navbar_address</key>
	<string>@colors/base_color_light_blue_300</string>
	<key>navbar_questions</key>
	<string>@colors/base_color_green_300</string>
	<key>navbar_code</key>
	<string>@colors/base_color_purple_300</string>
	<key>bg_qranio</key>
	<string>#F4A502</string>
</dict>
</plist>
